{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %} Entrar | {{ block.super }}{% endblock %}

{% block container %}

<!--log in start here-->
<div class="login">
	<div class="container">
		<div class="login-main">
			  <h1>Entrar</h1>
		  <div class="col-md-6 login-left">
			<h2>Já possui cadastrado?</h2>
			<div class="bs-example" data-example-id="simple-horizontal-form">
			    <form class="form-horizontal" method="post">
			    	{% csrf_token %}
		    		{% for error in form.non_field_errors %}
		    		<div class="alert alert-danger">
			    		{{ error }}
			    	</div>
			    	{% endfor %}
			      <div class="form-group">
			        <label for="{{ form.username.auto_id }}" class="col-sm-2 control-label">{{ form.username.label }}</label>
			        <div class="col-sm-10">
			          {% render_field form.username class="form.control" %}
			          {% for error in form.username.errors %}
			          <span class="help-block"> {{ error }} </span>
			          {% endfor %}
			        </div>
			      </div>
			      <div class="form-group">
			        <label for="{{ form.password.auto_id }}" class="col-sm-2 control-label">{{ form.password.label }}</label>
			        <div class="col-sm-10">
			        	{% render_field form.password class="form.control" %}
			        	{% for error in form.password.errors %}
			        	<span class="help-block"> {{ error }} </span>
			         	{% endfor %}
			        </div>
			      </div>
			      <div class="form-group">
			        <div class="col-sm-offset-2 col-sm-10">
			          <input type="submit" value="Login">
			        </div>
			      </div>
			    </form>
  			</div>
		  </div>
		  <div class="col-md-6 login-right">
		  	 <h3>Primeira Vez? Crie uma conta</h3>
		  	 <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system. and expound the actual teachings of the great.</p>
		     <a href="{% url 'accounts:register' %}" class="login-btn">Crie uma conta</a>
		  </div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>

{% endblock %}
<!--log in end here-->